#borderr{
    width: 470px;
    height: auto;
    
}
ul{
    list-style: none;
}
footer{
    width: 550px;
}
h6{
    font-size: 24px;
}
.mb-5{
    font-size: 14px;
    color: #5F6368;
}
#next{
    background-color: #047eea;
}
#next:hover{
    background-color: #0768bd;
    box-shadow: 0px 0px 3px rgb(151, 151, 151);
}
#footerr{
    font-size: 12px;
    
    
}
#create{
    color: #047eea;
}
@media.query{
    
}
